/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --body-background-color:#333;
}

@media(prefers-color-scheme: dark){
    :root
    {
        --body-background-color:#222;
    }
}


@media(prefers-color-scheme: light){
    :root
    {
        --body-background-color:#333;
    }
}



/* Global styles */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    --body-background-color:#333;
    transition: background-color 0.5s ease;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
h2{
    margin: 70px;
    font-size: 220%;
}

/* Header */
header {
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li {
    margin-left: 30px;
}

.menu a {
    font-weight: bold;
    text-transform: uppercase;
}

.menu-btn {
    display: none;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
}

.hero2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

image{
    padding: 50px;
}

#hero-btn {
    padding: 10px 20px;
    border: none;
    background-color: #007aff;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

/* Services section */
#services {
    padding: 80px 0;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    justify-items: center;
}

.parag{
    text-align: center;
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 30%; /* largeur obligatoire pour être centré */
  
}

.imgs{
    display: flex;
    justify-content: center;
}

.service {
    text-align: center;
}

.service h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Projects section */
#projects {
    padding: 80px 0;
}

#projects ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    justify-items: center;
}

/* Footer */
footer {
    background-color: #f2f2f2;
    padding: 20px 0;
    text-align: center;
    transition: background-color 0.5s ease;
}

.image {
    margin-top: 50px;
}

.dark-mode {
    background-color: #252525;
    transition: background-color 0.5s ease;
    color: white;
}

.dark-mode header{
    background-color: #131313;
    transition: background-color 0.5s ease;
    color: white;
}

.dark-mode footer{
    background-color: #131313;
    transition: background-color 0.5s ease;
    color: white;
}